    {% load staticfiles %}
    <script type="text/javascript" src="http://127.0.0.1:35729/livereload.js"></script>
    <html>
        <head>
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
            <title>bul.</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

        </head>
    <body>
        <!--<div class="wrapper container">-->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 logo">
                            <a href="/">
                                <img src="{% static 'img/site/logo.jpg' %}" alt="Стакан вискаря" title="Стакан вискаря" class="pull-left hidden-xs">
                                <h3>картинка со стаканом</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <nav>
                <div class="container">
                    <div class="row">

                        <ul class="listinline">
                                <li><a href="#">тратата</a>
                                <li><a href="#">оло тратата</a>
                                <li><a href="#">тратата гыгы</a>
                                <li><a href="#">люлю тратата</a>
                                <li><a href="#">гыгыгыгы</a>

                        </ul>
                    </div>
                </div>
            </nav>
            <section>
                <div class="container">
                    <div class="row">

                        <div class="col-md-8 contentushka">
                            <div class="row">
                                    {% block content %}
                                    {% endblock %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="aaaa">
                                <ul>
                                    <li><a href="#">Какая-то менюха</a></li>
                                    <li><a href="#">Какая-то менюха</a></li>
                                    <li><a href="#">Какая-то менюха</a></li>
                                </ul>
                            </div>
                            <div>
                                попул
                                <div><a href="#">Какая-то менюха</a></div>
                                <div><a href="#">Какая-то менюха</a></div>
                                <div><a href="#">Какая-то менюха</a></div>
                                <div><a href="#">Какая-то менюха</a></div>
                            </div>

        <div class="panel panel-default">
          <div class="panel-heading">Бар</div>
          <div class="panel-body">
            <div class="container">
                <div class="row message-bubble">
                <p class="text-muted">Matt Townsen</p>
                    <span>Why is yo shit so broke?</span>
                </div>
                <div class="row message-bubble">
                    <p class="text-muted">Matt Townsen</p>
                    <p>It Isn't'</p>
                </div>
                <div class="row message-bubble">
                <p class="text-muted">Matt Townsen</p>
                    <p>Umm yes it is</p>
                </div>
                <div class="row message-bubble">
                <p class="text-muted">Matt Townsen</p>
                    <p>Test message</p>
                </div>
            </div>
            <div class="panel-footer">
                 <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Send</button>
                  </span>
                </div>
            </div>
          </div>
        </div>
        
                            <div>
                                rekl
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <footer>
                
            </footer>
        <!--</div>-->
    </body>
    </html>