{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
                        <div class="thumbnail">
                            <div >
                                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                                <img src="http://placehold.it/320x150" alt="">
                                <h4>{{ post.text|linebreaksbr }}</h4>
                                <span class="tags">
                                    Метки: 
                                    <a href="#">#звездные войны</a>
                                    <a href="#">#съемка</a>
                                    <a href="#">#фотография</a>
                                    <a href="#">#эпизод IV</a>
                                </span>
                                <div class="post-data">
                                    <span class="">{{ post.published_date }}</span>
                                    <span class="">12 reviews</span>
                                    <span class="ratings">
                                        <a href="/vote?id=айдизаписи&plus=true">дать в морду <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        <a href="/vote?id=айдизаписи&plus=false">налить <span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>
    {% endfor %}
{% endblock content %}


