########## fonts ##########
@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf')  format('truetype'), url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

########## body ##########
body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
div{
    font-family: Century Gothic;
}
a:hover,
a:focus,
a:visited,
a:active{
    text-decoration: none;
}
########## header ##########
header .logo{
    padding: 0;
}
header h3,
header h3 a{
    color: #000000;
    font-size: 72px;
    margin: 21 0 0 10;
    display: inline-block;
}

header .search{
    height: 100px;
    float: left;
    padding: 45 0 0 20;
}
header .search form{
    #background-color: #ff00ff;
}
header .search .input-group{
    #background-color: #ff000f;
}

header .auth{
    height: 100px;
    float: left;
}
########## nav ##########
ul.list-inline{
        font-size: 0px;
}
.list-inline{
    background-color: #666666;
}
.list-inline li{
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.list-inline a{
    display: block;
    padding: 3 0;
    color: #ffffff;

}
.list-inline a:hover{
    background-color: red;
}
######### section ##########
######### side-bar ##########
.left22{
background-color:red;
width:180px;
float:left;
}

.contentushka{
background-color: yellow;
margin:0px; 
margin-left:181px; 
float: right;
width: 70%;
}

/*
    .page-header {
        background-color: #ff9400;
        margin-top: 0;
        padding: 20px 20px 20px 20px;

    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

    .content {
        margin-left: 40px;
        
    }

    h1, h2, h3, h4 {
        #font-family: 'Lobster', cursive;
        #background-color: green;
    }

    .date {
        float: right;
        color: #828282;
        background-color: red;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
    }

    .post h1 a, .post h1 a:visited {
        color: #000000;
    }
    */